.body { 
    margin: 0;

}

.texto {
    background-color: yellow;
    margin-top: 65px;
    width: 100%;
}

.fijo {
    position: fixed;
    background-color: rgb(113, 113, 113);
    width: 100%;
    top: 0;
    height: 60px;


}

