*{
    background-color: rgb(254, 255, 221);
}
.Container{
    width: 500px;
    height: 600px;
    margin: 50px auto;
    border: solid black 3px;

}

.caja1, .caja2, .caja3 {
    height: 200px;
    width: 500;
}

.caja1{
    position:relative;
    top: 50px;
    left: 20px;
    background: red;

}

.caja2{
    background: yellow;

}
.caja3{
    background: purple;
}

.container2{
    width: 50px;
    height: 30px;
    margin: 10px;
    border: solid rgb(0, 0, 0) 3px;
}