* {
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);

}


div{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.261);

}

.static{
    background-color: orange;
}

.absolute{
    background-color: brown;
}

.sticky{
    background-color: blueviolet;
}

.fixed{
    background-color: yellow;
}
.relative{
    background-color: blue;

}


.static,
.absolute,
.sticky,
.fixed,
.relative 
{
    padding: 20px;

}

.parents{
    color: rgb(0, 0, 0);
    font-family: Arial;
    position: relative;
    border: 3px solid rgb(0, 183, 255);
}

h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}

/*CSS positions*/

/*.static{
position: static;
}

.relative{
    position: ;
    top: ;
    bottom: ;
    left:  ;
    right: ;
}
.absolute{
    position: relative;
    top: 10px;
    bottom: ;
    left: 10px ;
    right: ;
    z-index: ;
    

}
.fixed{
    position: fixed;
    top: 50px; 
}
*/
.sticky{ 
    position: sticky;
}

h5{
    color: aliceblue;

}

h6{
    color: aliceblue;
}