/*  PROPIEDAD DISPLAY Y INLINE-FLEX Y FLEX 
        ESTE DEFINE EL TIPO DE CONTENEDOR FLEXIBLE, TIPO BLOQUE O EN LINEA */
.contenedor {
    border: 3px solid black;
    /* display: flex; */
    display: inline-flex; 
    background-color: blue;


}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: grey;
    margin: 10px;

}