.contenedor{
	background-color: blue;
	display: inline-flex;
	/* flex-wrap: nowrap;   */ /*ESTABLECE ITEMS EN UNA SOLA LINEA NO PERMITE EL DESBORDE*/
	flex-wrap: wrap; /*ESTABLECE ITEMS EN MULTILINEA, PERMITE EL DESBORDAMIENTO*/
	/* flex-wrap: wrap-reverse;  */
	
}

.item{
	background-color: #ccc;
	width: 300px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}
/* Propiedad flex-wrap
Controla el desbordamiento del contenedor cuando los ítems superan el ancho del
mismo */
/* <!-- La propiedad flex-wrap de CSS especifica si los elementos  */
	/* "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. --> */